In [ ]:
a = 36